@model Blog.Models.PostViewModel
@{
    var post = Model;
}

<div class="post-details">
    <h2 class="title">@post.title</h2>
    <h3 class="created">@post.created | <a href="#!">@post.author.name @post.author.surname</a></h3>

    <div class="body">
        @Html.Raw(post.body)
    </div>
    <a href="@Url.Action("Index", new { id = post.id_post })" class="btn pure-button pure-button-primary">&laquo; Volver a los posts</a>

    <div class="disqus-container">
        @{Html.RenderPartial("_Disqus");}
    </div>
</div>



